<div class="login__container">
    <div class="img__container">
        <img class="img__container--img" src="/assets/img/humans.png" alt="humans">
    </div>
    <div class="titles__container">
        <h1 class="login__title">
            ¡Te damos la <br>
            bienvenida a <br>
            Banco Azteca!
        </h1>
        <p class="login__subtitle">
            Usa tu prestamo como dinero en efectivo o compra en donde quieras
        </p>
    </div>
    <form class="form__container" [formGroup]="form" >
        <span class="form__hint">
            ¿Cómo prefieres que te llamemos?
        </span>

        <mat-form-field class="form__input" appearance="fill">
            <mat-label>Escribe tu nombre</mat-label>
            <input matInput #name formControlName="name" required type="text" readonly >
            <button class="button__visibility" mat-icon-button matSuffix (click)="toggleListening()" [disabled]="!micPermissionGranted">
                <mat-icon>{{ iconAux }}</mat-icon>
            </button>
            <mat-hint align="end">{{name.value.length}}/{{limit}} caracteres</mat-hint>
        </mat-form-field>

        <div class="form__button">
            <button class="button" (click)="submit()">
                Comenzar
            </button>
        </div>
    </form>
</div>