/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
  }
  
  :root {
    /*Colores*/
    --white--one: #FFFFFF;
    --black--one: #1E1E1E;
    --black--two: #000000B2;
    --black--three: #4A4A4AB2;
    --primary: #BBBBBB;
    --secondary: #AAAAAA;
    --error: ;
    /*Fuentes*/
    --primary-fonts: "Montserrat";
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
:root body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.copy{
    padding: 20px 5% 5px 0;
    font-size: 15px;
    color: var(--black--three);
}
.button{
    color: var(--white--one);
    background: transparent linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    font-size: 25px;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    margin: 5px 0;
}
.button:hover{
    background-color: var(--black--three);
    font-weight: 600;
    transform: scale(1.05);
}
.button__visibility{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.button__visibility:hover{
    color: var(--primary);
}

.age-dialog-container {
    padding: 0!important;
    border-radius: 15px!important;
    backdrop-filter: blur(30px)!important;
    box-shadow: 0px 0px 8px 3px var(--primary)!important;
    background-color: var(--black-one)!important;
  }